<!DOCTYPE html>
<html ng-app="biblioApp">
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />
    <meta charset="utf-8">
  

  </head>

  <body ng-controller="LibroCtrl">
    <div class="col-sm-12" >
    <h1 class="text-center"> {{titulo}} </h1> <!-- la variable del ctrl-->
    </div>
    <div class="container">
	    <div class="row">
			<div class="col-sm-6 text-center" >
				<!--<input type="text" ng-model="libro._id" class="form-control" placeholder="Id"><br>-->
			    <input type="text" ng-model="libro.titulo" class="form-control" placeholder="Titulo"><br>
			    <input type="text" ng-model="libro.autor" class="form-control" placeholder="Autor"><br>
			    <input type="text" ng-model="libro.anio" class="form-control" placeholder="Año"><br>
			    <input type="text" ng-model="libro.genero" class="form-control" placeholder="Género"><br>
			    <br>

		    	<button ng-click="addLibro()" class="btn btn-primary btn-md btn-block">Guardar nuevo</button> <!-- llamar a una funcion de cógido cuando detecte el click-->
				<button ng-click="getLibros()" class="btn btn-success btn-md btn-block">Cargar libros</button>
				<button ng-click="updateLibro(libro)" class="btn btn-warning btn-md btn-block">Actualizar nuevo</button>
			</div>

	 		<div class="col-sm-6" >
			<div ng-repeat="libro in libros" > <!--ng-click="showLibro(libro)"> <!-- ng repeat es como un for each-->
				<!--<p>Id:		<strong>{{libro._id}}</strong></p>-->
				<p>Titulo:	<strong>{{libro.titulo}}</strong></p>
				<p>Autor: 	<strong>{{libro.autor}}</strong></p>
				<p>Año: 	<strong>{{libro.anio}}</strong></p>
				<p>Género: 	<strong>{{libro.genero}}</strong></p>
				<button ng-click="getById(libro._id)"	  class="btn btn-info btn-md ">Buscar por Id</button><br>
				<button ng-click="showLibro(libro)" class="btn btn-warning btn-md ">Seleccionar</button><br>
				<button ng-click="deleteLibro(libro._id)" class="btn btn-danger btn-md ">Eliminar</button><br>
				<br>
			</div>
		</div>
	</div>

    <!-- Scripts -->
	<script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <link rel="stylesheet" type="text/css" href="/lib/bootstrap/dist/css/bootstrap.min.css"></link>
    <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/js/services/biblioServ.js"></script>
    <script type="text/javascript" src="/js/controllers/biblioCtrl.js"></script>
    <script type="text/javascript" src="/js/biblioApp.js"></script>



  </body>
</html>
